################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project-0/don'tPushYet/HappySpoon/HappySpoonUI/LogCabin.txt
